


















<h2>User info</h2>
<% if @user.errors.any? %>
  <p><%= @user.errors.count %>error prohibited this obj from being saved:</p>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @user, local:true do |f| %>
  <h4>Name</h4>
  <%= f.text_field :name %>
  <label>Image</label>
  <%= f.attachment_field :profile_image, placefolder: "ファイルを選択" %>
  <h4>Introduction</h4>
  <%= f.text_area :introduction %>
  <%= f.submit "Update User" %>
<% end %>