
    <div class="col-md-3 mx-2">
      <h2 class="py-2">User Info</h2>
      <table class="table">
        <%=attachment_image_tag user, :profile_image, :fill, 70, 70, fallback: "no_image.jpg", class: 'mb-3' %>
        <tr>
          <th scope="col-md-1">name</th>
          <th scope="col-md-1"><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </table>
        <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary w-100 p-0" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>

      <h2 class="py-2 mt-2">New book</h2>
        <% if book.errors.any? %>
          <p><%= pluralize(book.errors.count, "error") %> prohibited this obj from being saved:</p>
          <% book.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>

        <%= form_with model: book, url: post_books_path, local:true do |f| %>
          <h6 class="py-1 mt-2 mb-0">Title</h6>
           <%= f.text_field :title %>
          <h6 class="py-1 mt-3 mb-0">Opinion</h6>
            <%= f.text_area :body %>
            <%= f.submit "Create Book", class: "btn btn-success mt-2" %>
        <% end %>
    </div>


<!--@user → userへ変更-->
<!--@book → bookへ変更-->

<!--users 呼び出しview側-->
<%#= render 'users/sidebar', user: @user %>
<%#= render 'users/sidebar', book: @book %>

<!--post_books 呼び出しview側-->
<%#= render 'post_books/sidebar', user: @user %>
<%#= render 'post_books/sidebar', book: @book %>
