<p class="text-success"><%= notice %></p>
<div class="containar w-100">
  <div class="row">
    <%= render 'post_books/sidebar', user: @user_sidebar, book: @book_sidebar %>

    <div class="col-md-6 ml-5">
      <h2>Book detail</h2>

      <table class="table">
        <tr>
          <td scope="col-md-2">
            <%=attachment_image_tag @book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", class: 'mb-0' %>
            <p><%= link_to @book.user.name, user_path(@book.user) %></p>
          </td>
          <td scope="col-md-4"><%= link_to @book.title, post_book_path(@book) %></td>
          <td scope="col-md-4"><%= @book.body %></td>
          <td scope="col-md-1">
            <% if @book.user == current_user %>
              <%= link_to "Edit", edit_post_book_path(@book), class: "text-white btn btn-success btn-sm" %>
            <% end %>
          </td>
          <td scope="col-md-1">
            <% if @book.user == current_user %>
              <%= link_to "Destroy", post_book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class: "text-white btn btn-danger btn-sm" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



