<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--meta name="viewport"追加-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand p-3" href="/">Bookers</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li class="nav-item">
                   <%= link_to "Home", user_path(current_user.id), class: 'nav-link text-white' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Users", users_path, class: 'nav-link text-white' %>
                  </li>
                  <li class="nav-item">
                   <%= link_to "Books", post_books_path, class: 'nav-link text-white' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "logout", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
                  </li>
                <% else %>
                  <li class="nav-item">
                   <%= link_to "Home", root_path, class: 'nav-link text-white' %>
                  </li>
                  <li class="nav-item">
                   <%= link_to "About", about_path, class: 'nav-link text-white' %>
                  </li>
                  <li class="nav-item">
                   <%= link_to "sign up", new_user_registration_path, class: 'nav-link text-white' %>
                  </li>
                   <li class="nav-item">
                   <%= link_to "log in", new_user_session_path, class: 'nav-link text-white' %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <main class="mb-auto">
      <%= yield %>
        <!--deviseのサクセスメッセージ-->
      <% if notice %>
      　　<p><%= notice %></p>
      <% end %>
      <% if alert %>
         <p><%= alert %></p>
      <% end %>
      </main>
      <footer>
        <p>CopyRight Infratop.inc</p>
      </footer>
  </body>
</html>
