<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <% if user_signed_in? %>
      <li>
       <%= link_to "Home", user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "Users",users_path %>
      </li>
      <li>
       <%= link_to "Books", post_books_path %>
      </li>
      <li>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
       <%= link_to "Home", root_path %>
      </li>
      <li>
       <%= link_to "About", about_path %>
      </li>
  
      <li>
       <%= link_to "sign up", new_user_registration_path %>
      </li>
       <li>
       <%= link_to "log in", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>
  </nav>
  
  <!--deviseのサクセスメッセージ-->
  <body>
  <% if notice %>
  　　<p><%= notice %></p>
  <% end %>
  <% if alert %>
     <p><%= alert %></p>
  <% end %>
  </body>

</html>
